# Core functionality - changes here should be rare!
/src/app.py                   @imyawning
/src/backend/database.py      @imyawning
/src/backend/routers/auth.py  @imyawning

# The frontend will need refactored soon to be more object oriented.
/src/static/   @imyawning
